config\*.logs
config\*.logs.gz
logs\*
mods\alexscaves-1.1.4.jar
mods\AmbientSounds_FORGE_v6.0.2_mc1.20.1.jar
mods\AmbientSounds_FORGE_v6.0.2_mc1.20.1.jar_
mods\AmbientSounds_FORGE_v6.0.3_mc1.20.1.jar
mods\Wesley's+Roguelike+Dungeons+1.20.1-2.3.2.jar
saves\*
usercache.jsonmods\alexscaves-1.1.4.jar
usernamecache.json
